* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

a:hover {
    color: #dd0000;
}

body {
    font-family: "Century Gothic", "Lucida Grande", Verdana, Tahoma, Century, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #666;
}

header {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    color: #aaa;
    margin-top: 20px;
}

#page {
    width: 350px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -100px -175px;
}
