@import 'fonts/stylesheet.css';

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: YanoneKaffeesatzLight, Georgia, serif;
}

a {
	color: #d76d6d;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #c0d4f0;
}

del a {
	cursor: default;
}

h1, h2 {
	font-family: YanoneKaffeesatzRegular;
	font-weight: normal;
	text-align: center;
	text-shadow: 1px 1px 1px #fff;
	-moz-text-shadow: 1px 1px 1px #fff;
	-webkit-text-shadow: 1px 1px 1px #fff;
}

ul {
	margin-right: 120px;
	list-style-type: none;
}

li {
	padding: 5px 0;
	border-bottom: thin solid #ccc;
}

li span {
	font-family: YanoneKaffeesatzRegular;
	display: inline-block;
	width: 30%;
}

#page {
	background: #eee;
	border: thin solid #ddd;
	margin: 5% auto;
	width: 402px;
	padding: 20px;
}

div.bottom {
	border-top: thin solid;
	margin-top: 20px;
	padding-top: 20px;
	clear: both;
	overflow: hidden;
}

div.item {
	background: #fff;
	border: thin solid #ddd;
	font-size: 16px;
	padding: 20px;
	margin: 0 0 20px;
}

div.item img {
	border: thin solid #ddd;
}

.right {
	float: right;
}
