/*
 *	style.css
 *	Robert Chmielowiec 2011
 */

body {
	background: #333 url(imgs/pattern.png);
	font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, Geneva, Verdana, Freesans, 'Liberation Sans', Ayuthaya, Garuda, Loma, Waree, 'Lucida Grande', Tahoma, Freesans, sans-serif;
	font-size: 11px;
	text-align: justify;
	margin: 0;
}

h1 {
	color: #444;
	font-family: Georgia, serif;
	font-size: 36px;
	font-weight: normal;
	font-style: italic;
	text-shadow: 0 1px 1px #fff;
	margin: 0;
}

img {
	background: #fff;
	border: thin solid #bbb;
	-moz-box-shadow: 0 2px 6px #ccc;
	-webkit-box-shadow: 0 2px 6px #ccc;
	padding: 10px;
}

p {
	line-height: 22px;
}

form.switcher {
	text-align: center;
	clear: both;
}

	form.switcher input {
		margin: 0 5px;
	}

input,
button,
a.button {
	color: white !important;
	background-color: #76afa6;
/*
	background-color: #444;
*/
	border: 1px solid;
	border-color: #466963;
/*
	border-color: #222;
*/
	-moz-box-shadow: inset 0 0 2px #fff, 1px 1px 1px #aaa;
	-webkit-box-shadow: inset 0 0 2px #fff, 1px 1px 1px #aaa;
/*
	-moz-box-shadow: inset 0 0 1px #fff, 1px 1px 1px #aaa;
	-webkit-box-shadow: inset 0 0 1px #fff, 1px 1px 1px #aaa;
*/
	border-radius: 3px;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #466963;
/*
	text-shadow: 1px 1px 1px #222;
*/
	padding: 3px 10px;
	margin: 0;
	cursor: pointer;
}

input:hover,
button:hover,
a.button:hover {
	background-color: #466963;
	border-color: #333;
	-moz-box-shadow: inset 0 0 1px #fff, 1px 1px 1px #aaa;
	-webkit-box-shadow: inset 0 0 1px #fff, 1px 1px 1px #aaa;
	text-shadow: 1px 1px 1px #333;
	text-decoration: none !important;
}

/*
input:active,
button:active,
a.button:active {
	-moz-box-shadow: inset 0 0 1px #fff, -1px -1px 1px #aaa;
	-webkit-box-shadow: inset 0 0 1px #fff, -1px -1px 1px #aaa;
	text-shadow: -1px -1px 1px #333;
	outline: none;
}
*/

input:active,
button:active,
a.button:active {
	background-color: #444;
	border-color: #000;
	-moz-box-shadow: inset 0 0 3px #222, 1px 1px 1px #fff;
	-webkit-box-shadow: inset 0 0 3px #222, 1px 1px 1px #fff;
	outline: none;
}

button::-moz-focus-inner {
	border: 0;
}

#page {
	-moz-box-shadow: 5px 5px 5px #222;
	-webkit-box-shadow: 5px 5px 5px #222;
	width: 500px;
	margin: -148px -250px;
	position: absolute;
	top: 50%;
	left: 50%;
}

#header {
	background-color: #e3e3e3;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom: thin solid #666;
	text-align: center;
	padding: 20px;
}

#menu {
	background: #a7a7a7 url(imgs/pattern.png);
	border-top: thin solid #bbb;
	border-bottom: thin solid #bbb;
	font-size: 16px;
	font-variant: small-caps;
	text-align: center;
	line-height: 16px;
	color: #fff;
	text-shadow: 1px 1px #333;
}

	#menu ul {
		list-style-type: none;
		width: 400px;
		margin: -1px 50px;
		padding: 0;
		overflow: hidden;
		clear: both;
	}

	#menu li {
		margin: 0;
		padding: 30px 0 3px;
		width: 33%;
		display: block;
		float: left;
	}

	#menu li:hover {
		background-color: #444;
		text-shadow: 1px 1px 1px #000;
	}

	#menu a {
		color: inherit;
		text-decoration: none;
		padding-top: 30px;
	}

li#contact {
	background: url(imgs/contact.png) top center no-repeat;
}

li#skills {
	background: url(imgs/skills.png) top center no-repeat;
}

li#design {
	background: url(imgs/design.png) top center no-repeat;
}

#content {
	color: #000;
	background-color: #e3e3e3;
	border-top: thin solid #666;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 20px;
	overflow: hidden;
	clear: both;
}

	#content ul {
		font-size: inherit;
		list-style-type: none;
		margin: 0 0 20px 0;
		padding: 0;
	}

	#content li {
		padding: 5px 0;
		display: block;
	}

		#content li span {
			color: #666;
			font-style: italic;
			text-align: right;
			width: 100px;
			margin-right: 20px;
			display: inline-block;
		}

	#content a {
		color: inherit;
		text-decoration: none;
	}

	#content a:hover {
		text-decoration: underline;
	}

#footer {
	color: #000;
	text-shadow: 0 1px 1px #444;
	text-align: center;
	width: inherit;
	position: absolute;
	bottom: -30px;
}

#skills {
	text-decoration: line-through;
}

.items {
	height: 235px;
}

.item {
	text-align: center;
}

.right {
	float: right;
}
